
@model DepartamentoViewModel
@{
    ViewData["Title"] = "Create"; 
}
<h2> @ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="col-md-6">

                <label asp-for="Vendedor.Nome"> </label>
                <input asp-for="Vendedor.Nome" class="bg-dark text-white" placeholder="Nome" />
            </div>
            <div class="col-md-6">
                <label asp-for="Vendedor.Data" > </label>
                <input asp-for="Vendedor.Data" class="bg-dark text-white"  />
            </div>
            <div class="col-md-6">
                <label asp-for="Vendedor.Salario" > </label>
                <input asp-for="Vendedor.Salario" class="bg-dark text-white" placeholder="Salario" />
            </div>
            <div class="col-md-6">
                <label asp-for="Vendedor.DepartamentoId">Departamentos</label>
                <select asp-for="Vendedor.DepartamentoId" class="bg-dark text-white" asp-items="ViewBag.Departamentos"></select>
            </div>
            <br />
            <div class="col-md-6">
                <input class="btn btn-dark"type="submit" value="Create" />
            </div>
        </form>
    </div>
</div>